<html align="center">
    <body>
        <!-- 居中 ,algin:center-->
        <h1 al>Predict DBS Share Price</h1>
        <form action="/" method="post">
            <p>Dices in hand <input type="text" name="dice_in_hand" placeholder="E.g. 1,6,1,4,4" autocomplete="on" value={{last_input}} ></p>
            <p>Player number <input type="number" step="1" name="player_num"></p>
            <p>Dice number <input type="number" step="1" name="game_dice_num"></p>
            <p>Point chosen <input type="number" step="1" name="game_point_chosen"></p>

            <p><input type="submit" value="Enter"></p>
        </form>
        <p>Choice 1 - {{result1}}</p>
        <p>Choice 2 - {{result2}}</p>
    </body>
</html>